/*�������*/
/*������ɫ*/
.second-header {
  height: 1.3rem;
  border-top: 0.4rem solid #30aafa;
}
.second-header > a {
  color: #666;
}
.second-header > h1 {
  color: #666;
}
.second-header > input {
  height: 0.8rem;
  line-height: 1rem;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px ;
  border-radius: 5px ;
  text-indent: 1em;
  width: 80%;
  margin-top: 0.1rem;
  background-color: #eee;
}
.second-header > button {
  color: #666;
  border: none;
}
.second-header > button.active {
  background-color: #fff;
}
.mui-bar .mui-btn-link {
  color: #666;
}
main {
  margin-top: 1.6rem;
}
