.baseColor {
  color: #31aaf9;
}
.layer > header em {
  top: 0;
}
.main {
  background-color: #fff;
  padding: 0 0.5rem;
  padding-top: 1.3rem;
}
.main > div {
  /* height: 1rem;*/
  line-height: 1rem;
  font-size: 0.3rem;
  color: #666;
  /*  &.sex{
      >.sex_require{
        margin: 0;
        padding: 0;
        margin-top: 0.1rem;
        display: inline-block;
          box-shadow:0 0px 0px rgba(0,0,0,.0);
        background-color: pink;
        height: 1rem;
        line-height: 1rem;
        overflow: hidden;
        .mui-input-group{
          overflow: hidden;
          height: 1rem;
          line-height: 1rem;
        }
        .mui-input-group .mui-input-row{
          display: inline-block;
        }
        .mui-input-group .mui-input-row:after{
          height: 0;
        }
        .mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
          top: 9px;
        }
      }
    }*/
}
.main > div > span {
  height: 1rem;
  line-height: 1rem;
}
.main > div > i {
  height: 1rem;
  line-height: 1rem;
  /*  margin-top: 0.2rem;*/
}
.main > div > input {
  width: 50%;
  color: #666;
  height: 0.8rem;
  border: none;
  margin-top: 0.1rem;
  text-align: right;
  font-size: 0.28rem;
  padding-right: 0;
}
.main > div.head > img {
  margin-top: 0.1rem;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}
.style_choose {
  float: right;
  vertical-align: middle;
}
.style_choose > span {
  float: left;
  text-align: center;
  margin-right: 0.2rem;
}
.style_choose > span > i {
  background-color: #eee;
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 0.1rem;
  line-height: 0.6rem;
  font-size: 0.3rem;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  color: #fff;
}
.style_choose > span > i.active {
  background-color: #31aaf9;
}
.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
  color: #fff;
  border: 1px solid #31aaf9;
  background-color: #31aaf9;
}
/*????????*/
.android-ics .dwv {
  color: #31aaf9;
  border-bottom: 2px solid #31aaf9;
}
.dwl {
  color: #f0ad4e;
}
.android-ics .dw .dwwol {
  border-bottom: 2px solid #31aaf9;
  border-top: 2px solid #31aaf9;
}
.area > div {
  width: 65%;
  display: inline-block;
  text-align: center;
  color: #666;
}
/*address*/
._citys {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}
._citys span {
  color: #31aaf9;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 1em;
  top: 10px;
  border: 1px solid #31aaf9;
  cursor: pointer;
}
._citys0 {
  width: 100%;
  height: 34px;
  display: inline-block;
  border-bottom: 2px solid #31aaf9;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
._citys0 li {
  float: left;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  font-size: 15px;
  color: #888;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.citySel {
  background-color: #31aaf9;
  color: #fff !important;
}
._citys1 {
  width: 100%;
  height: 80%;
  display: inline-block;
  padding: 10px 0;
  overflow: auto;
  background-color: #fff;
}
._citys1 a {
  height: 35px;
  display: block;
  color: #666;
  padding-left: 6px;
  margin-top: 3px;
  line-height: 35px;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
}
._citys1 a:hover {
  color: #fff;
  background-color: #56b4f8;
}
#PoPy {
  z-index: 1111;
}
._citys {
  background-color: #fff;
}
#city {
  width: 50%;
  height: 0.8rem;
  border: none;
  text-align: right;
  color: #666;
  padding-right: 0;
  font-size: 0.3rem;
}
